<button class="btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom3"
    aria-controls="offcanvasBottom">
    <img src="../../../assets/LogoLigue1.svg" alt="Ligue1" class="w-50">
</button>

<div class="offcanvas offcanvas-bottom px-5 flex-row align-items-center" tabindex="-1" id="offcanvasBottom3"
    aria-labelledby="offcanvasBottomLabel">
    <div class="offcanvas-body d-flex">
        <div class=" p-3 ps-0">
            <div class="card border-0" style="width: 11rem;">
                <img src="https://outletdelcalcio.eu/cdn/shop/files/2_aa85f991-a063-4731-989f-577fcdce174e.png?v=1715593298"
                    class="card-img-top rounded-5" alt="Boca Retro">
                <div class="card-body text-center text-black">
                    <h6 class="card-text">BOCA JUNIORS</h6>
                </div>
            </div>
        </div>
        <div class=" p-3">
            <div class="card border-0" style="width: 11rem;">
                <img src="https://outletdelcalcio.eu/cdn/shop/files/2_aa85f991-a063-4731-989f-577fcdce174e.png?v=1715593298"
                    class="card-img-top rounded-5" alt="Boca Retro">
                <div class="card-body text-center text-black">
                    <h6 class="card-text">BOCA JUNIORS</h6>
                </div>
            </div>
        </div>
        <div class=" p-3">
            <div class="card border-0" style="width: 11rem;">
                <img src="https://outletdelcalcio.eu/cdn/shop/files/2_aa85f991-a063-4731-989f-577fcdce174e.png?v=1715593298"
                    class="card-img-top rounded-5" alt="Boca Retro">
                <div class="card-body text-center text-black">
                    <h6 class="card-text">BOCA JUNIORS</h6>
                </div>
            </div>
        </div>
        <div class=" p-3">
            <div class="card border-0" style="width: 11rem;">
                <img src="https://outletdelcalcio.eu/cdn/shop/files/2_aa85f991-a063-4731-989f-577fcdce174e.png?v=1715593298"
                    class="card-img-top rounded-5" alt="Boca Retro">
                <div class="card-body text-center text-black">
                    <h6 class="card-text">BOCA JUNIORS</h6>
                </div>
            </div>
        </div>
        <div class=" p-3">
            <div class="card border-0" style="width: 11rem;">
                <img src="https://outletdelcalcio.eu/cdn/shop/files/2_aa85f991-a063-4731-989f-577fcdce174e.png?v=1715593298"
                    class="card-img-top rounded-5" alt="Boca Retro">
                <div class="card-body text-center text-black">
                    <h6 class="card-text">BOCA JUNIORS</h6>
                </div>
            </div>
        </div>
        <div class="col-2 offset-1 mt-2">
            <div>
                <h6>Taglie Disponibili</h6>
                <button type="button" class="btn btn-outline-secondary taglia-btn me-3 px-4 mb-2"
                    data-taglia="S">S</button>
                <button type="button" class="btn btn-outline-secondary taglia-btn me-3 px-4 mb-2"
                    data-taglia="M">M</button>
                <button type="button" class="btn btn-outline-secondary taglia-btn me-3 px-4 mb-2"
                    data-taglia="L">L</button>
                <button type="button" class="btn btn-outline-secondary taglia-btn me-3 px-4 mb-2"
                    data-taglia="XL">XL</button>
                <button type="button" class="btn btn-outline-secondary taglia-btn me-3 px-4 mb-2"
                    data-taglia="XXL">XXL</button>
            </div>
            <div class="col-6">
                <h6>Quantità:</h6>
                <div class="input-group">
                    <button class="btn btn-outline-secondary" type="button" id="minusBtn">-</button>
                    <input type="number" class="form-control text-center " id="quantita" value="1" min="1">
                    <button class="btn btn-outline-secondary" type="button" id="plusBtn">+</button>
                </div>
                <button type="button" class="btn mb-4 bgButton text-white p-1 mt-2">Aggiungi al carrello</button>
            </div>
        </div>
        <div class="d-flex flex-column align-items-center justify-content-center col-1">
            <img src="../../../assets/LogoLigue1.svg" alt="Ligue1" class="w-75">
            <button type="button" class="btn bgButton text-white p-1" [routerLink]="['/ligue1']">Catalogo Ligue1</button>
        </div>>
    </div>
</div>