<div class="container-fluid p-5 pb-0 mb-5">
    <div class="text-center mb-5">
<h4>Le più richieste</h4>
    </div>
    <div class="row d-none d-xxl-flex">
        <div class="card border-0" style="width: 19.07rem;">
            <div class="card-img-top-container">
                <img src="https://outletdelcalcio.eu/cdn/shop/files/2_aa85f991-a063-4731-989f-577fcdce174e.png?v=1715593298"
                    class="card-img-top border rounded-4 shadow-sm" alt="Boca Retro">
                <button type="button" class="btn bgButton text-white" (click)="openModal()">
                    Dai un occhiata
                </button>
            </div>
            <div class="card-body text-center">
                <h6 class="card-text">BOCA JUNIORS</h6>
                <p class="m-0">Shirt Player Boca Juniors 96/97</p>
                <p class="fw-semibold">€35,00</p>
            </div>
        </div>
        <div class="card border-0" style="width: 19.07rem;">
            <div class="card-img-top-container">
                <img src="https://outletdelcalcio.eu/cdn/shop/files/2_aa85f991-a063-4731-989f-577fcdce174e.png?v=1715593298"
                    class="card-img-top border rounded-4 shadow-sm" alt="Boca Retro">
                <button type="button" class="btn bgButton text-white" (click)="openModal()">
                    Dai un occhiata
                </button>
            </div>
            <div class="card-body text-center">
                <h6 class="card-text">BOCA JUNIORS</h6>
                <p class="m-0">Shirt Player Boca Juniors 96/97</p>
                <p class="fw-semibold">€35,00</p>
            </div>
        </div>
        <div class="card border-0" style="width: 19.07rem;">
            <div class="card-img-top-container">
                <img src="https://outletdelcalcio.eu/cdn/shop/files/2_aa85f991-a063-4731-989f-577fcdce174e.png?v=1715593298"
                    class="card-img-top border rounded-4 shadow-sm" alt="Boca Retro">
                <button type="button" class="btn bgButton text-white" (click)="openModal()">
                    Dai un occhiata
                </button>
            </div>
            <div class="card-body text-center">
                <h6 class="card-text">BOCA JUNIORS</h6>
                <p class="m-0">Shirt Player Boca Juniors 96/97</p>
                <p class="fw-semibold">€35,00</p>
            </div>
        </div>
        <div class="card border-0" style="width: 19.07rem;">
            <div class="card-img-top-container">
                <img src="https://outletdelcalcio.eu/cdn/shop/files/2_aa85f991-a063-4731-989f-577fcdce174e.png?v=1715593298"
                    class="card-img-top border rounded-4 shadow-sm" alt="Boca Retro">
                <button type="button" class="btn bgButton text-white" (click)="openModal()">
                    Dai un occhiata
                </button>
            </div>
            <div class="card-body text-center">
                <h6 class="card-text">BOCA JUNIORS</h6>
                <p class="m-0">Shirt Player Boca Juniors 96/97</p>
                <p class="fw-semibold">€35,00</p>
            </div>
        </div>
        <div class="card border-0" style="width: 19.07rem;">
            <div class="card-img-top-container">
                <img src="https://outletdelcalcio.eu/cdn/shop/files/2_aa85f991-a063-4731-989f-577fcdce174e.png?v=1715593298"
                    class="card-img-top border rounded-4 shadow-sm" alt="Boca Retro">
                <button type="button" class="btn bgButton text-white" (click)="openModal()">
                    Dai un occhiata
                </button>
            </div>
            <div class="card-body text-center">
                <h6 class="card-text">BOCA JUNIORS</h6>
                <p class="m-0">Shirt Player Boca Juniors 96/97</p>
                <p class="fw-semibold">€35,00</p>
            </div>
        </div>
        <div class="card border-0" style="width: 19.07rem;">
            <div class="card-img-top-container">
                <img src="https://outletdelcalcio.eu/cdn/shop/files/2_aa85f991-a063-4731-989f-577fcdce174e.png?v=1715593298"
                    class="card-img-top border rounded-4 shadow-sm" alt="Boca Retro">
                <button type="button" class="btn bgButton text-white" (click)="openModal()">
                    Dai un occhiata
                </button>
            </div>
            <div class="card-body text-center">
                <h6 class="card-text">BOCA JUNIORS</h6>
                <p class="m-0">Shirt Player Boca Juniors 96/97</p>
                <p class="fw-semibold">€35,00</p>
            </div>
        </div>
        
    </div>
   <app-carousel class="d-xxl-none"></app-carousel>
</div>

<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Dettagli del prodotto</h5>
                <button type="button" class="btn-close" (click)="closeModal()" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="text-center">
                    <img src="https://outletdelcalcio.eu/cdn/shop/files/2_aa85f991-a063-4731-989f-577fcdce174e.png?v=1715593298"
                         class="w-75  image-responsive" alt="Boca Retro">
                </div>
                <h6 class="card-text mt-3">BOCA JUNIORS</h6>
                <p>Shirt Player Boca Juniors 96/97</p>
                <p class="fw-semibold">€35,00</p>
                <p>Dettagli aggiuntivi del prodotto qui...</p>
            </div>
            <div class="ms-2">
                <div>
                    <h6>Taglie Disponibili</h6>
                    <button type="button" class="btn btn-outline-secondary taglia-btn me-3 px-4 mb-2"
                        data-taglia="S">S</button>
                    <button type="button" class="btn btn-outline-secondary taglia-btn me-3 px-4 mb-2"
                        data-taglia="M">M</button>
                    <button type="button" class="btn btn-outline-secondary taglia-btn me-3 px-4 mb-2"
                        data-taglia="L">L</button>
                    <button type="button" class="btn btn-outline-secondary taglia-btn me-3 px-4 mb-2"
                        data-taglia="XL">XL</button>
                    <button type="button" class="btn btn-outline-secondary taglia-btn me-3 px-4 mb-2"
                        data-taglia="XXL">XXL</button>
                </div>
                <div class="col-3">
                    <h6>Quantità:</h6>
                    <div class="input-group">
                        <button class="btn btn-outline-secondary" type="button" id="minusBtn">-</button>
                        <input type="number" class="form-control text-center " id="quantita" value="1" min="1">
                        <button class="btn btn-outline-secondary" type="button" id="plusBtn">+</button>
                    </div>
                </div>
            </div>
            <div class="modal-footer mt-2">
                <button type="button" class="btn  bgButton text-white ">Aggiungi al carrello</button>
                <button type="button" class="btn btn-secondary" (click)="closeModal()">Chiudi</button>
            </div>
        </div>
    </div>
</div>