.text-center{
    background-image: url(../../../assets/BannerHome.jpg);
    background-size: cover;
}

h1{
    font-size: 4.5rem;
}

.text-shadow{
    text-shadow: 4px 4px 8px gray;
}

@media (max-width: 992px) {
    h1 {
font-size:3.5rem;
    }
  }

  @media (max-width: 576px) {
    h1 {
font-size:2.5rem;
    }
    button{
        font-size: 0.8rem;
    }
  }