.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 30px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
  color: #333;
  font-size: 28px;
  margin-bottom: 30px;
}

.table {
  width: 100%;
  text-align: center;
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.table th, .table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  vertical-align: middle;
}

.table th {
  background-color: #F65D21;
  color: #fff;
}

.table td {
  background-color: #fff;
}

.product-image {
  max-width: 100px;
  height: auto;
  border-radius: 8px;
}

.btn-danger {
  background-color: #dc3545;
  border-color: #dc3545;
  color: #fff;
}

.btn-danger:hover {
  background-color: #c82333;
  border-color: #bd2130;
}
.form-select {
  width: auto; /* Imposta la larghezza automatica per adattarsi al contenuto */
  max-width: 200px; /* Larghezza massima consentita */
}

.btn-custom {
  background-color: transparent;
  border-color: transparent;
  color: inherit;
  padding: 0;
  font-size: 1.2rem;
}

.btn-edit {
  margin-left: 10px; /* Opzionale: aggiungi margine sinistro per separare i bottoni */
}

.btn-custom:hover {
  background-color: transparent;
  border-color: transparent;
  color: #dc3545; /* Rosso per il cestino */
}

.btn-edit:hover {
  background-color: transparent;
  border-color: transparent;
  color: #007bff; /* Blu per la penna */
}

