<div class="container-fluid px-lg-5 px-md-1 border-bottom d-flex align-items-center justify-content-between bg-white"
    [ngClass]="{'scrolled': scrolled}">
    <div>
        <button class="btn p-sm-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#staticBackdrop"
            aria-controls="staticBackdrop">
            <i class="bi bi-list"></i>
        </button>

        <div class="offcanvas offcanvas-start" data-bs-backdrop="static" tabindex="-1" id="staticBackdrop"
            aria-labelledby="staticBackdropLabel">
            <div class="offcanvas-header">
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body d-flex flex-column justify-content-between px-0">
                <div class="px-5">
                    <ul class="p-0">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item fs-4 ps-0"><a [routerLink]="['/']" routerLinkActive="active"
                                    [routerLinkActiveOptions]="{exact: true}" class="nav-link active text-black"
                                    data-bs-dismiss="offcanvas">Home</a></li>
                            <li class="list-group-item fs-4 ps-0 d-flex justify-content-between"><a
                                    [routerLink]="['/serie-a']" class="nav-link active text-black"
                                    data-bs-dismiss="offcanvas">Serie A</a>
                                <img src="../../../assets/LogoSerieA.svg" alt="SerieA" width="10%">
                            </li>
                            <li class="list-group-item fs-4 ps-0 d-flex justify-content-between"><a
                                    [routerLink]="['/premierleague']" class="nav-link active text-black"
                                    data-bs-dismiss="offcanvas">Premier League</a>
                                <img src="../../../assets/LogoPremierLeague.svg" alt="PremierLeague" width="10%">
                            </li>
                            <li class="list-group-item fs-4 ps-0 d-flex justify-content-between"><a
                                    [routerLink]="['/ligue1']" class="nav-link active text-black"
                                    data-bs-dismiss="offcanvas">Ligue 1</a>
                                <img src="../../../assets/LogoLigue1.svg" alt="Ligue1" width="10%">
                            </li>
                            <li class="list-group-item fs-4 ps-0 d-flex justify-content-between"><a
                                    [routerLink]="['/laliga']" class="nav-link active text-black"
                                    data-bs-dismiss="offcanvas">La Liga</a>
                                <img src="../../../assets/LogoLaLiga.svg" alt="LaLiga" width="10%">
                            </li>
                            <li class="list-group-item fs-4 ps-0 d-flex justify-content-between"><a
                                    [routerLink]="['/bundesliga']" class="nav-link active text-black"
                                    data-bs-dismiss="offcanvas">Bundesliga</a>
                                <img src="../../../assets/LogoBundesliga.svg" alt="Bundesliga" width="10%">
                            </li>
                            <li class="list-group-item fs-4 ps-0"><a [routerLink]="['/vintage']"
                                    class="nav-link active text-black" data-bs-dismiss="offcanvas">Vintage</a></li>
                            <li class="list-group-item fs-4 ps-0"><a [routerLink]="['/world']"
                                    class="nav-link active text-black" data-bs-dismiss="offcanvas">Resto del mondo</a>
                            </li>
                        </ul>
                    </ul>
                </div>
                <div class="border-top px-5 pt-2">
                    <a class="text-decoration-none text-black" (click)="navigateToAccount()"><i
                            class="bi bi-person"></i><span class="ms-1">Account</span></a>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center">
        <a href=""><img src="../../../assets/Logo.jpg" alt="Logo"
                class="ms-lg-5 w-25 ms-sm-0 me-sm-3 me-md-0 ms-md-4"></a>
    </div>
    <div class="d-sm-flex flex-sm-column flex-md-row">
        <i class="bi bi-search" data-bs-toggle="offcanvas" data-bs-target="#searchCanvas"
            aria-controls="searchCanvas"></i>
        <i class="bi bi-person mx-lg-3 mx-md-2" (click)="navigateToAccount()"></i>
        <i data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"
            class="bi bi-bag"></i>
    </div>
</div>

<div class="offcanvas offcanvas-end justify-content-between d-flex" tabindex="-1" id="offcanvasRight"
    aria-labelledby="offcanvasRightLabel">
    <div>
        <div class="offcanvas-header border-bottom">
            <i class="bi bi-bag "></i> <span class="ms-2">{{ getTotalItems() }} Articoli</span>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="card mx-4 my-2" style="max-width: 540px;" *ngFor="let item of cartItems">
            <div>
                <div class="row g-0">
                    <div class="col-sm-4 d-flex align-items-center">
                        <img [src]="item.product.img" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-sm-8">
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-center">
                                <p class="card-text"><small class="text-body-secondary">{{ item.product.name }}</small>
                                </p>
                                <p class="card-text fw-semibold">{{ item.totalPrice }}€</p>
                            </div>
                            <h6 class="card-text">{{ item.product.description }}</h6>
                            <p class="card-text m-0"><small class="text-body-secondary">Size: {{ item.size }}</small>
                            </p>
                            <div class="d-flex align-items-center mt-2">
                                <p class="card-text m-0 me-2"><small class="text-body-secondary">Quantità: {{
                                        item.quantity }}</small></p>
                                <button class="btn btn-sm btn-outline-secondary p-0 me-1"
                                    (click)="decreaseQuantity(item)">
                                    <i class="bi bi-dash"></i>
                                </button>
                                <button class="btn btn-sm btn-outline-secondary p-0 " (click)="increaseQuantity(item)">
                                    <i class="bi bi-plus"></i>
                                </button>
                            </div>
                            <i class="bi bi-trash3 float-end text-danger" (click)="removeItem(item)"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <div class="border-top p-4">
        <div class="d-flex align-items-center justify-content-center text-white bgButton p-2">
            <i class="bi bi-lock"></i>
            <button type="button" class="m-0 ms-4 btn bgButton text-white" (click)="checkout()">CHECKOUT - {{
                getTotalPrice() }} EUR</button>
        </div>
    </div>
</div>


<div class="offcanvas offcanvas-end" tabindex="-1" id="searchCanvas" aria-labelledby="searchCanvasLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="searchCanvasLabel">Ricerca Prodotti</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <form>
            <div class="mb-3">
                <label for="searchInput" class="form-label">Nome Prodotto</label>
                <input type="text" class="form-control" id="searchInput" [(ngModel)]="searchTerm" name="searchTerm"
                    (input)="onSearchInput($event)">
            </div>
        </form>

        <div *ngIf="searchResults.length > 0">
            <h6 class="mt-4">Risultati della Ricerca:</h6>
            <div class="card mx-4 my-2" style="max-width: 540px;" *ngFor="let result of searchResults">
                <div class="row g-0">
                    <div class="col-sm-4 d-flex align-items-center">
                        <img [src]="result.img" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-sm-8">
                        <div class="card-body">
                            <h5 class="card-title">{{ result.name }}</h5>
                            <p class="card-text">{{ result.description }}</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <p class="card-text fw-semibold">{{ result.price }}€</p>
                                <a [routerLink]="getProductRoute(result.category)" class="btn btn-primary">Dettagli</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>