<div class="container-fluid m-0 px-5  d-flex justify-content-between">
    <div class="text-center col-2">
        <i class="bi bi-box"></i>
        <h6 class="mb-3 mt-1">FREE SHIPPING</h6>
        <p>Spedizione gratuita su tutti gli ordini</p>
    </div>
    <div class="text-center col-2">
        <i class="bi bi-telephone"></i>
        <h6 class="mb-3 mt-1">CUSTOMER CARE</h6>
        <p>Per qualsiasi info ti basta contattarci su Whatsapp o sui DM di Instagram</p>
    </div>
    <div class=" text-center col-2">
        <i class="bi bi-shield-lock"></i>
        <h6 class="mb-3 mt-1">SECURE PAYMENT</h6>
        <p>Le tue informazioni di pagamento sono sicure al 100%</p>
    </div>
    <div class=" text-center col-2">
        <i class="bi bi-envelope"></i>
        <h6 class="mb-3 mt-1">CONTACT US</h6>
        <p>Vuoi contattarci via mail? Contattaci su showcompletini
            @gmail.com</p>
    </div>
</div>
