.banner{
    background-image: url(../../../assets/retro.jpg);
    background-size: cover;
    padding: 250px;
}
.card-img-top-container {
  position: relative;
  overflow: hidden;
}

.card-img-top-container img {
  display: block;
  width: 100%;
}

.card-img-top-container .btn {
  position: absolute;
  bottom: -50px;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  transition: bottom 0.3s;
}

.card-img-top-container:hover .btn {
  bottom: 10px;
}

.bgButton {
  background-color: #F65D21;
}

@media (max-width: 1200px) {
  div .card {
    width: 14.1rem !important;
  }

  .card-img-top-container .btn {
    bottom: -62px;
    font-size: 0.8rem;
    width: 60%;
  }

  .image-responsive {
    width: 50% !important;
  }

}

@media (max-width: 992px) {
  div .card {
    width: 14.36rem !important;
  }
}

@media (max-width: 768px) {
  h6 {
    font-size: 0.9rem;
  }

  p {
    font-size: 0.9rem;
  }
  div .card {
    width: 14.5rem !important;
  }
}

@media (max-width: 576px) {
  h6 {
    font-size: 0.8rem;
  }

  p {
    font-size: 0.7rem;
  }

  div .card {
    width: 10.5rem !important;
  }

  .card-img-top-container .btn {
    font-size: 0.65rem;
    width: 70%;
  }
}